# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
.DS_Store
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (unused here, kept for safety)
Pods/
Carthage/Build/
